p{
font-family: sans-serif;
font-size: 18px;
text-align: center;
}

h1{
text-align: center;
}
h3{
text-align: center;
}
h2{
text-align: center;
}
UL{
text-align: center;    
}
.contenedor-centrado {
    display: flex;
    flex-direction: column; /* Alinea elementos uno debajo de otro */
    align-items: center;    /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente (si hay altura definida) */
    text-align: center;      /* Centra el texto dentro del parrafo */
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #eaeeb9; /* Color de fondo */
    color: #333; /* Color del texto */
}



